@keyframes text-rotation {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

.spinner-text {
   transform-origin: center center;
   transform: translate(-50%, -50%);
   animation: text-rotation 10s linear infinite;
}