.pic01 {
   position: absolute;
   height: 256px;
   width: 190px;
   animation: animation01 16s ease-in-out infinite;
}

.pic02 {
   position: absolute;
   height: 256px;
   width: 190px;
   animation: animation02 16s ease-in-out infinite;
}

.pic03 {
   position: absolute;
   height: 256px;
   width: 190px;
   animation: animation03 16s ease-in-out infinite;
}

.pic04 {
   position: absolute;
   height: 256px;
   width: 190px;
   animation: animation04  16s ease-in-out infinite;
}

.pic05 {
   position: absolute;
   height: 256px;
   width: 190px;
   animation: animation05 16s ease-in-out infinite;
}

@keyframes animation01{
   0%{ transform: translate(-150px, 100px) rotate(12deg); z-index: 0;}
   5%{ transform: translate(-350px, 100px) rotate(-12deg); z-index: 1;}
   20%{ transform: translate(-150px, 50px) rotate(-12deg); z-index: 30;}
   25%{ transform: translate(-150px, 50px) rotate(-12deg) scale(1); z-index: 30;}
   45%{ transform: translate(0px, 0px) rotate(0) scale(1.1); z-index: 50;}
   50%{ transform: translate(0px, 0px) rotate(0) scale(1.1); z-index: 50;}
   70%{ transform: translate(150px, 50px) rotate(12deg) scale(1); z-index: 30;}
   75%{ transform: translate(150px, 50px) rotate(12deg); z-index: 30;}
   100%{ transform: translate(350px, 100px) rotate(12deg); z-index: 1;}
}

@keyframes animation02{
   0%{ transform: translate(-150px, 50px) rotate(-12deg); z-index: 30; }
   5%{ transform: translate(-150px, 50px) rotate(-12deg) scale(1); z-index: 30;}
   20%{ transform: translate(0px, 0px) rotate(0) scale(1.1); z-index: 50;}
   25%{ transform: translate(0px, 0px) rotate(0) scale(1.1); z-index: 50;}
   45%{  transform: translate(150px, 50px) rotate(12deg) scale(1); z-index: 30;}
   50%{  transform: translate(150px, 50px) rotate(12deg); z-index: 30;}
   70%{ transform: translate(350px, 100px) rotate(12deg); z-index: 1;}
   75%{ transform: translate(350px, 100px) rotate(12deg); z-index: 1;}
   100%{ transform: translate(-150px, 50px) rotate(-12deg); z-index: 30;}
}

@keyframes animation03{
   0%{ transform: translate(0px, 0px) rotate(0) scale(1.1); z-index: 50;}
   5%{ transform: translate(0px, 0px) rotate(0) scale(1.1); z-index: 50;}
   20%{ transform: translate(150px, 50px) rotate(12deg) scale(1); z-index: 30;}
   25%{ transform: translate(150px, 50px) rotate(12deg); z-index: 30;}
   45%{  transform: translate(350px, 100px) rotate(12deg); z-index: 1;}
   50%{  transform: translate(350px, 100px) rotate(12deg); z-index: 1;}
   70%{ transform: translate(-350px, 100px) rotate(-12deg); z-index: 1;}
   100%{ transform: translate(0px, 0px) rotate(0) scale(1.1); z-index: 50;}
}

@keyframes animation04{
   0%{ transform: translate(150px, 50px) rotate(12deg); z-index: 30; }
   5%{ transform: translate(150px, 50px) rotate(12deg); z-index: 30;}
   20%{ transform: translate(350px, 100px) rotate(12deg); z-index: 1;}
   25%{ transform: translate(350px, 100px) rotate(12deg); z-index: 1;}
   45%{  transform: translate(-350px, 100px) rotate(-12deg); z-index: 1;}
   50%{  transform: translate(-350px, 100px) rotate(-12deg); z-index: 1;}
   70%{ transform: translate(-150px, 50px) rotate(-12deg); z-index: 30;}
   75%{ transform: translate(-150px, 50px) rotate(-12deg); z-index: 30;}
   100%{ transform: translate(150px, 50px) rotate(12deg); z-index: 30;}
}

@keyframes animation05{
   0%{ transform: translate(350px, 100px) rotate(12deg); z-index: 1;}
   5%{ transform: translate(350px, 100px) rotate(12deg); z-index: 1;}
   20%{ transform: translate(-350px, 100px) rotate(-12deg); z-index: 1;}
   25%{ transform: translate(-350px, 100px) rotate(-12deg); z-index: 1;}
   45%{  transform: translate(-150px, 50px) rotate(-12deg); z-index: 30;}
   50%{  transform: translate(-150px, 50px) rotate(-12deg) scale(1); z-index: 30;}
   70%{ transform: translate(0px, 0px) rotate(0) scale(1.1); z-index: 50;}
   75%{ transform: translate(0px, 0px) rotate(0) scale(1.1); z-index: 50;}
   100%{ transform: translate(350px, 100px) rotate(12deg) scale(1); z-index: 1;}
}

@media only screen and (min-width:650px){
   .pic01 {
      height: 456px;
      width: 320px;
      animation: animation01 16s ease-in-out infinite;
   }
   
   .pic02 {
      height: 456px;
      width: 320px;
      animation: animation02 16s ease-in-out infinite;
   }
   
   .pic03 {
      height: 456px;
      width: 320px;
      animation: animation03 16s ease-in-out infinite;
   }
   
   .pic04 {
      height: 456px;
      width: 320px;
      animation: animation04  16s ease-in-out infinite;
   }

   .pic05 {
      height: 456px;
      width: 320px;
      animation: animation05 16s ease-in-out infinite;
   }

   @keyframes animation01{
      0%{ transform: translate(-550px, 100px) rotate(-12deg); z-index: 0;}
      5%{ transform: translate(-550px, 100px) rotate(-12deg); z-index: 1;}
      20%{ transform: translate(-250px, 25px) rotate(-8deg); z-index: 30;}
      25%{ transform: translate(-250px, 25px) rotate(-8deg) scale(1); z-index: 30;}
      45%{ transform: translate(0px, 0px) rotate(0) scale(1.1); z-index: 50;}
      50%{ transform: translate(0px, 0px) rotate(0) scale(1.1); z-index: 50;}
      70%{ transform: translate(250px, 25px) rotate(8deg) scale(1); z-index: 30;}
      75%{ transform: translate(250px, 25px) rotate(8deg); z-index: 30;}
      100%{ transform: translate(-550px, 100px) rotate(-12deg); z-index: 1;}
   }
   
   @keyframes animation02{
      0%{ transform: translate(-250px, 25px) rotate(-8deg); z-index: 30; }
      5%{ transform: translate(-250px, 25px) rotate(-8deg) scale(1); z-index: 30;}
      20%{ transform: translate(0px, 0px) rotate(0) scale(1.1); z-index: 50;}
      25%{ transform: translate(0px, 0px) rotate(0) scale(1.1); z-index: 50;}
      45%{  transform: translate(250px, 25px) rotate(8deg) scale(1); z-index: 30;}
      50%{  transform: translate(250px, 25px) rotate(8deg); z-index: 30;}
      70%{ transform: translate(550px, 100px) rotate(12deg); z-index: 1;}
      75%{ transform: translate(550px, 100px) rotate(12deg); z-index: 1;}
      100%{ transform: translate(-250px, 25px) rotate(-8deg); z-index: 30;}
   }
   
   @keyframes animation03{
      0%{ transform: translate(0px, 0px) rotate(0) scale(1.1); z-index: 50;}
      5%{ transform: translate(0px, 0px) rotate(0) scale(1.1); z-index: 50;}
      20%{ transform: translate(250px, 25px) rotate(8deg) scale(1); z-index: 30;}
      25%{ transform: translate(250px, 25px) rotate(8deg); z-index: 30;}
      45%{  transform: translate(550px, 100px) rotate(12deg); z-index: 1;}
      50%{  transform: translate(550px, 100px) rotate(12deg); z-index: 1;}
      70%{ transform: translate(-550px, 100px) rotate(-12deg); z-index: 1;}
      100%{ transform: translate(0px, 0px) rotate(0) scale(1.1); z-index: 50;}
   }
   
   @keyframes animation04{
      0%{ transform: translate(250px, 25px) rotate(8deg); z-index: 30; }
      5%{ transform: translate(250px, 25px) rotate(8deg); z-index: 30;}
      20%{ transform: translate(550px, 100px) rotate(12deg); z-index: 1;}
      25%{ transform: translate(550px, 100px) rotate(12deg); z-index: 1;}
      45%{  transform: translate(-550px, 100px) rotate(-12deg); z-index: 1;}
      50%{  transform: translate(-550px, 100px) rotate(-12deg); z-index: 1;}
      70%{ transform: translate(-250px, 25px) rotate(-8deg); z-index: 30;}
      75%{ transform: translate(-250px, 25px) rotate(-8deg); z-index: 30;}
      100%{ transform: translate(250px, 25px) rotate(8deg); z-index: 30;}
   }
   
   @keyframes animation05{
      0%{ transform: translate(550px, 100px) rotate(12deg); z-index: 1;}
      5%{ transform: translate(550px, 100px) rotate(12deg); z-index: 1;}
      20%{ transform: translate(-550px, 100px) rotate(-12deg); z-index: 1;}
      25%{ transform: translate(-550px, 100px) rotate(-12deg); z-index: 1;}
      45%{  transform: translate(-250px, 25px) rotate(-8deg); z-index: 30;}
      50%{  transform: translate(-250px, 25px) rotate(-8deg) scale(1); z-index: 30;}
      70%{ transform: translate(0px, 0px) rotate(0) scale(1.1); z-index: 50;}
      75%{ transform: translate(0px, 0px) rotate(0) scale(1.1); z-index: 50;}
      100%{ transform: translate(550px, 100px) rotate(12deg) scale(1); z-index: 1;}
   }
}