@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.unselectable {
  user-select: none !important;
  -webkit-tap-highlight-color: rgba(
    0,
    0,
    0,
    0
  ) !important; /* Safari y Chrome */
  -webkit-user-drag: none !important; /* Safari (puede evitar el resaltado al mover elementos) */
  touch-action: manipulation !important; /* Algunos navegadores más modernos */
}

.btn-normal {
  position: relative;
  z-index: 50;
  padding: 14px 25px;
  border-radius: 15px;
  border: none;
  margin-top: 24px;
  color: var(--cream);
  font-weight: normal;
  cursor: pointer;
  transition: all 0.2s ease;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0) !important; /* Safari y Chrome */
  -webkit-user-drag: none !important; /* Safari (puede evitar el resaltado al mover elementos) */
  touch-action: manipulation !important; /* Algunos navegadores más modernos */
}

.btn-normal:active {
  transform: scale(0.96);
}

.btn-normal:before,
.btn-normal:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.btn-normal:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, var(--green) 20%, transparent 20%),
    radial-gradient(circle,transparent 20%,var(--green) 20%,transparent 30%),
    radial-gradient(circle, var(--green) 20%, transparent 20%),
    radial-gradient(circle, var(--green) 20%, transparent 20%), /* Active color bug */
    radial-gradient(circle,transparent 10%,var(--green) 15%,transparent 20%),
    radial-gradient(circle, var(--green) 20%, transparent 20%),
    radial-gradient(circle, var(--green) 20%, transparent 20%),
    radial-gradient(circle, var(--green) 20%, transparent 20%),
    radial-gradient(circle, var(--green) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

.btn-normal:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, var(--green) 20%, transparent 20%),
    radial-gradient(circle, var(--green) 20%, transparent 20%),
    radial-gradient(circle,transparent 10%,var(--green) 15%,transparent 20%),
    radial-gradient(circle, var(--green) 20%, transparent 20%),
    radial-gradient(circle, var(--green) 20%, transparent 20%),
    radial-gradient(circle, var(--green) 20%, transparent 20%),
    radial-gradient(circle, var(--green) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

/*--------------------------------------------------*/
/*--------------- Spotify Buttton ------------------*/
/*--------------------------------------------------*/

.btn-special {
  position: relative;
  z-index: 50;
  padding: 14px 25px;
  border-radius: 15px;
  border: none;
  margin-top: 24px;
  color: #fff;
  font-weight: normal;
  cursor: pointer;
  transition: all 0.2s ease;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0) !important; /* Safari y Chrome */
  -webkit-user-drag: none !important; /* Safari (puede evitar el resaltado al mover elementos) */
  touch-action: manipulation !important; /* Algunos navegadores más modernos */
}

.btn-special:active {
  transform: scale(0.96);
}

.btn-special:before,
.btn-special:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.btn-special:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, var(--mustard) 20%, transparent 20%),
    radial-gradient(circle,transparent 20%,var(--mustard) 20%,transparent 30%),
    radial-gradient(circle, var(--mustard) 20%, transparent 20%),
    radial-gradient(circle, var(--mustard) 20%, transparent 20%), /* Active color bug */
    radial-gradient(circle,transparent 10%,var(--mustard) 15%,transparent 20%),
    radial-gradient(circle, var(--mustard) 20%, transparent 20%),
    radial-gradient(circle, var(--mustard) 20%, transparent 20%),
    radial-gradient(circle, var(--mustard) 20%, transparent 20%),
    radial-gradient(circle, var(--mustard) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

.btn-special:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, var(--mustard) 20%, transparent 20%),
    radial-gradient(circle, var(--mustard) 20%, transparent 20%),
    radial-gradient(circle,transparent 10%,var(--mustard) 15%,transparent 20%),
    radial-gradient(circle, var(--mustard) 20%, transparent 20%),
    radial-gradient(circle, var(--mustard) 20%, transparent 20%),
    radial-gradient(circle, var(--mustard) 20%, transparent 20%),
    radial-gradient(circle, var(--mustard) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}