@keyframes up-down {
   0%, 100% {
      transform: translateY( -10px );
   }
   50% {
      transform: translateY( 10px );
   }
}

.jumping-up-down {
   animation: up-down ease-in-out 1s infinite ;
}